/* allResumes */
.allResumes .table_container .row p:nth-child(1) {
  margin-left: 2.55vw;
  width: 4.3%;
}
.allResumes .table_container .row p:nth-child(2) {
  margin-left: 1.82vw;
  width: 13.05%;
}
.allResumes .table_container .row p:nth-child(3) {
  margin-left: 2.4vw;
  width: 5.02%;
}
.allResumes .table_container .row p:nth-child(4) {
  margin-left: 2.34vw;
  width: 37.78%;
}
.allResumes .table_container .row p:nth-child(5) {
  margin-left: 3.39vw;
  width: 5.74%;
}
.allResumes .table_container .row p:nth-child(6) {
  margin-left: 5.36vw;
  width: 5.74%;
}
