/* applicationList */
.applicationList .table_container {
  margin-top: 0;
}
.applicationList .table_container .row p:nth-child(1) {
  margin-left: 2.55vw;
  width: 4.3%;
}
.applicationList .table_container .row p:nth-child(2) {
  margin-left: 1.72vw;
  width: 13.05%;
}
.applicationList .table_container .row p:nth-child(3) {
  margin-left: 1.51vw;
  width: 14.48%;
}
.applicationList .table_container .row p:nth-child(4) {
  margin-left: 1.82vw;
  width: 6%;
}
.applicationList .table_container .row p:nth-child(5) {
  margin-left: 1.2vw;
  width: 25%;
}
.applicationList .table_container .row p:nth-child(6) {
  margin-left: 2vw;
  width: 6.6%;
}

.applicationList .table_container .row .btn {
  margin-left: 0.52vw;
  width: 6.6%;
  height: 64%;
  color: white;
  background-color: #cabd99;
  border-radius: 0.3vw;
  cursor: pointer;
}
