/* detail */
.detail {
  width: 84.22%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail .detail_container {
  width: 86.27%;
  height: auto;
  margin-bottom: 10vw;
}
.detail .detail_container .back_btn {
  width: 8.32%;
  height: 1.72vw;
  margin-top: 1.78vw;
  background-color: #cabd99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.78vw;
  cursor: pointer;
}
.detail .detail_container .user_box {
  display: flex;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.detail .detail_container .user_box p {
  font-size: 1.09vw;
  margin-right: 1vw;
}
.detail .detail_container .title {
  width: 100%;
  border: 1px solid black;
  margin-top: 0.68vw;
  font-size: 1.09vw;
  text-align: center;
  padding: 0.2vw 0;
}
.detail .detail_container .text_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2.14vw;
}
.detail .detail_container .text_box .text_title {
  width: 26.09%;
  margin-left: 11.46vw;
  font-size: 1.04vw;
  display: flex;
  align-items: center;
}
.detail .detail_container .text_box .text_content {
  width: 55.05%;
  font-size: 0.78vw;
  display: flex;
  align-items: center;
}
