/* individualUser */
.individualUser .table_container .row p:nth-child(1) {
  margin-left: 1.98vw;
  width: 1.98vw;
}
.individualUser .table_container .row p:nth-child(2) {
  margin-left: 1.56vw;
  width: 8.13vw;
}
.individualUser .table_container .row p:nth-child(3) {
  margin-left: 1.56vw;
  width: 15vw;
}
.individualUser .table_container .row p:nth-child(4) {
  margin-left: 1.56vw;
  width: 8.13vw;
}
.individualUser .table_container .row p:nth-child(5) {
  margin-left: 1.56vw;
  width: 8.13vw;
}
.individualUser .table_container .row p:nth-child(6) {
  margin-left: 1.56vw;
  width: 8.13vw;
}
