/* processDetail */
.processDetail .detail_container .rank {
  font-size: 1.08vw;
  font-weight: 700;
  color: #cabd99;
  margin-top: 2vw;
}
.processDetail .detail_container .rank_box {
  width: 100%;
  display: flex;
  margin-top: 1vw;
}
.processDetail .detail_container .rank_box p {
  font-size: 0.97vw;
}
.processDetail .detail_container .rank_box p:nth-child(1) {
  width: 2.5vw;
}
.processDetail .detail_container .rank_box p:nth-child(2) {
  width: 10vw;
}
.processDetail .detail_container .rank_box p:nth-child(3) {
  width: 18vw;
}
.processDetail .detail_container .table_container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2vw;
}
.processDetail .detail_container .table_container .row {
  height: 2.6vw;
  width: 100%;
  display: flex;
  align-items: center;
}
.processDetail .detail_container .table_container .row_head {
  height: 1.82vw;
  border: 1px solid #919191;
  border-left: none;
  border-right: none;
}
.processDetail .detail_container .table_container .even {
  background-color: #f7f7f7;
}
.processDetail .detail_container .table_container .row_head p {
  font-size: 1.04vw;
  font-weight: 400;
  letter-spacing: -0.09vw;
  padding: 0;
}
.processDetail .detail_container .table_container p {
  font-size: 0.78vw;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.processDetail .detail_container .table_container p:nth-child(1) {
  margin-left: 2.55vw;
  width: 3.14%;
}
.processDetail .detail_container .table_container p:nth-child(2) {
  margin-left: 2.3vw;
  width: 4.16%;
}
.processDetail .detail_container .table_container p:nth-child(3) {
  margin-left: 2.3vw;
  width: 17.18%;
}
.processDetail .detail_container .table_container p:nth-child(4) {
  margin-left: 2.3vw;
  width: 6.16%;
}
.processDetail .detail_container .table_container p:nth-child(5) {
  margin-left: 2.3vw;
  width: 10.61%;
}
.processDetail .detail_container .table_container p:nth-child(6) {
  margin-left: 2.3vw;
  width: 8.1%;
}
.processDetail .detail_container .table_container p:nth-child(7) {
  margin-left: 2.3vw;
  width: 7.53%;
}
.processDetail .detail_container .table_container p:nth-child(8) {
  margin-left: 2.3vw;
  width: 6.6%;
}
.processDetail .detail_container .table_container p:nth-child(9) {
  margin-left: 1vw;
  width: 6.6%;
}
.processDetail .table_container .row .btn {
  margin-left: 0.52vw;
  width: 6.6%;
  height: 64%;
  color: white;
  background-color: #cabd99;
  border-radius: 0.3vw;
  cursor: pointer;
}
