@media (max-width: 500px) {
  .resume_s1 {
    height: 44.3vw;
  }
  .resume_s1 .article_container {
    width: 95.08%;
    height: 82.46%;
    margin-top: 4vw;
  }
  .resume_s1 .article_container .img_box {
    width: 24.8%;
    height: 63.12%;
  }
  .resume_s1 .article_container .article {
    width: 56.68%;
    height: 56.03%;
    margin-top: 8vw;
  }
  .resume_s1 .article_container .article .text_box p {
    font-size: 1.9vw;
  }
}
