/* showListPopup */
.showListPopup {
  width: 70vw;
  height: auto;
  /* overflow: scroll; */
  /* height: 39.48vw; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 7px 7px 28px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.showListPopup .article_container {
  width: 95%;
  margin: 0;
  margin-top: 2vw;
  margin-bottom: 2vw;
  height: auto;
}
.showListPopup .article_container p {
  color: black;
}
.showListPopup .article_container > img {
  margin-left: auto;
  width: 1.2vw;
  cursor: pointer;
}
.showListPopup .article_container > p:nth-child(2) {
  font-size: 1.09vw;
  font-weight: 700;
  margin-top: 0.91vw;
  text-align: center;
}
.showListPopup .article_container > p:nth-child(3) {
  font-size: 0.83vw;
  margin-top: 2.86vw;
  margin-left: 0.78vw;
}
.showListPopup .article_container .list_box {
  width: 100%;
  height: auto;
  margin-top: 1.09vw;
}
.showListPopup .article_container .list_box .row {
  width: 100%;
  height: 2.03vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showListPopup .article_container .list_box .row p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.83vw;
}
.showListPopup .article_container .list_box .row p:nth-child(1) {
  width: 4%;
}
.showListPopup .article_container .list_box .row p:nth-child(2) {
  width: 10%;
}
.showListPopup .article_container .list_box .row p:nth-child(3) {
  width: 15%;
}
.showListPopup .article_container .list_box .row p:nth-child(4) {
  width: 6%;
}
.showListPopup .article_container .list_box .row p:nth-child(5) {
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
}
.showListPopup .article_container .list_box .row p:nth-child(6) {
  width: 9%;
}
.showListPopup .article_container .list_box .row p:nth-child(7) {
  width: 12%;
}

.showListPopup .article_container .color_box {
  width: 10vw;
  margin-top: 1vw;
  margin-left: auto;
}
.showListPopup .article_container .text_box {
  width: 76%;
  height: auto;
  margin: 0 auto;
  margin-top: 2.14vw;
}
.showListPopup .article_container .text_box p {
  line-height: 1.7vw;
  letter-spacing: -0.04vw;
}
.showListPopup .article_container .btn {
  width: 5.31vw;
  height: 2.14vw;
  margin: 0 auto;
  margin-top: 4.17vw;
  font-size: 0.83vw;
  color: white;
  background-color: #cabd99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4vw;
  cursor: pointer;
}
